node_modules

/build
/public/build
.env

/cypress/screenshots
/cypress/videos
/prisma/data.db
/prisma/data.db-journal
/app/static/resume.aux
/app/static/resume.log
/app/static/resume.out
/app/static/*.gz

/app/styles/tailwind.css
