node_modules

/build
/public/build
.env

/cypress/screenshots
/cypress/videos
/prisma/data.db
/prisma/data.db-journal
/public/static/resume.aux
/public/static/resume.log
/public/static/resume.out
/public/static/*.gz

/app/styles/tailwind.css
